$g: 0.75em;
.grid {
  background: black;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  grid-gap: $g;
  grid-template-columns: repeat(auto-fit, 15em);
  margin: 0;
  padding: $g;
  min-height: 100vh;
  perspective: 600px;

  a {
    height: 10em;
    background: rgba(white, 0.15);
    border: 1px solid rgba(white, 0.15);
    padding: 20px;
    color: transparent;
    border-radius: 2px;
    box-shadow: 30px 30px 30px -20px rgba(black, 0.6);
    border-radius: 2px;
    &:nth-child(odd) {
      animation: 1000ms ease-in-out infinite alternate pulse;
    }
    &:nth-child(even) {
      animation: 1000ms 1000ms ease-in-out infinite alternate pulse;
    }
    &:hover {
    
      img {
        transform: scale(1.1);
        cursor: pointer;
      }
    
  }
  }

}

@keyframes pulse {
  to {
    transform: translate3d(0px, 0px, 0px);
    box-shadow: 15px 15px 20px -20px rgba(rgb(105, 52, 52), 0.8);
  }
}
